@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    --v-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 6rem 13.8125rem;
    font-size: 15;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    background: url(.//images/bg-pattern-top-desktop.svg), 
                url(.//images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

.container{
    margin: 0 auto;
}

.first-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title{
    color: var(--v-dark-magenta);
    font-size: 60px;
    padding: 0 18.875rem 2.5rem 0;
}

.subtitle{
    color: var(--dark-grayish-magenta);
    font-size: 22.5px;
    padding-right: 12.1875rem;
    padding-bottom: 6.25rem;
}

.sec:not(:last-child){
    padding-bottom: 1rem;
}

.section-1, .section-2, .section-3{
    display: flex;
    background-color: var(--light-grayish-magenta);
    width: 32.875rem;
    height: 4rem;
    padding: 1rem 4.125rem;
    border-radius: 0.5rem;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    color: var(--v-dark-magenta);
}

.section-2{
    transform: translateX(4rem);
}

.section-3{
    transform: translateX(8rem);
}

.img-stars{
    padding-right: 2.8125rem;
}

img:not(:last-child){
    padding-right: 0.3rem;
}

.second-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--white);
}

.second-section-1, .second-section-2 ,.second-section-3{
    background-color: var(--v-dark-magenta);
    padding: 3.8125rem 3rem;
    border-radius: 0.5rem;
    width: 29.3125rem;
    height: 19.625rem;
}

.second-section-2{
    transform: translateY(1.5rem);
}

.second-section-3{
    transform: translateY(3rem);
}

.name-and-img{
    display: flex;
    padding-bottom: 1.375rem;
    align-items: center;
}

.img{
    padding-right: 1.375rem;
}

.img img{
    border-radius: 50%;
    height: 3.5625rem;
    width: 3.5625rem;
}

.nm{
    line-height: 1.5rem;
    font-size: 18px;
}

span{
    color: var(--soft-pink);
}

.comment-content{
    text-align: left;
    font-size: 20px;
    line-height: 1.3rem;
}

.attribution {
    padding: 2rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    body{
        padding: 5.125rem 1.5rem;
        background: url(.//images/bg-pattern-top-mobile.svg),
        url(.//images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
    }

    .wrapper{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .first-section{
        grid-template-columns: 1fr;
    }

    .title{
        font-size: 37px;
        padding: 0 0 1.625rem 0;
    }

    .subtitle{
        font-size: 17px;
        padding: 0 1rem 3rem 1rem;
        color: var(--dark-grayish-magenta);
        line-height: 1.5rem;
        font-weight: 500;
    }

    .sec{
        padding-bottom: 1rem;
    }

    .section-1, .section-3{
        flex-direction: column;
        padding: 1rem 3.7rem;
        width: 328px;
        height: 80px;

    }

    .section-2{
        flex-direction: column;
        padding: 1rem 3.4375rem;
        width: 328px;
        height: 80px;
    }

    .section-2, .section-3{
        transform: translateX(0);
    }

    img:not(:last-child){
        padding-right: 0.3rem;
    }

    .img-stars{
        padding: 0 0 1rem 0;
    }

    .second-section{
        grid-template-columns: 1fr;
    }

    .second-section-1, .second-section-2 ,.second-section-3{
        background-color: var(--v-dark-magenta);
        padding: 2rem 2rem;
        border-radius: 0.5rem;
        width: 328px;
        height: 249px;
        transform: translateY(0);
    }

    .comment-content{
        text-align: left;
        font-size: 17px;
        line-height: 1.3rem;
    } 
}